# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Virtualenv
env/
venv/
ENV/
env_bibliotheque/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

.vercel
.env*.local
 myenv/
